  @font-face {
      font-family: Roboto;
      src: url('fonts/Roboto-Thin.TTF');
      src: url('fonts/Roboto-ThinItalic.TTF');
      src: url('fonts/Roboto-Regular.TTF');
      src: url('fonts/Roboto-Medium.TTF');
      src: url('fonts/Roboto-Light.TTF');
      src: url('fonts/Roboto-Bold.TTF');
      src: url('fonts/Roboto-Black.TTF');
  }
  
  html,
  body {
      overflow-x: hidden;
  }
  
  .nav.navbar-nav.navbar-right li a {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color: #86C8E1;
  }
  
  .navbar-brand span {
      font-family: Roboto, sans-serif;
      text-align: center;
      color: #5DB34A;
      letter-spacing: 8px;
      font-size: 1em;
  }
  
  .bg-disable {
      background: white;
      border: none;
  }
  
  .navbar-toggle:hover,
  .navbar-toggle:active,
  .navbar-toggle:focus {
      border: none !important;
      outline: none !important;
      background: none !important;
  }
  
  .full-height {
      margin-top: 10em;
      overflow-x: hidden;
  }
  /*-----------------------------*/
  
  .head-blog {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color: #1E1E1E;
      font-size: 3em;
      text-align: center;
  }
  
  .title-blog {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      text-align: center;
      color: #000000;
      font-size: 1em;
  }
  
  .sub-title-blog {
      font-family: Roboto, sans-serif;
      font-weight: 300;
      text-align: center;
      color: #808080;
      font-size: 0.8em;
  }
  
  .text-blog {
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: #303030;
      line-height: 2em;
      font-size: 1.2em;
  }
  
  .content-blog {
      margin-top: 5em;
      margin-bottom: 5em;
  }
